<h2>Please sign-in to view the wedding list</h2>

<md-card>
  <form [formGroup]="form" class="form-inline" (submit)="login()">
    <div class="fieldset-inline">
      <div class="field-inline">
        <md-input type="password" formControlName="password" required placeholder="Password"></md-input>
        <field-errors [for]="'password'" [errors]="errorsByField"></field-errors>
      </div>
    </div>
    <button md-raised-button color="primary" [disabled]="!canSaveForm">Login</button>
    
    <div>
      <md-slide-toggle formControlName="isAdmin">
        I'm an admin
      </md-slide-toggle>
    </div>
      
  </form>
</md-card>
