<h2>The wedding list</h2>

<p>When you claim a gift, it will be recorded as coming from <em>{{ claimer.name }} ({{ claimer.email }})</em></p>

<section *ngFor="let section of giftSections | async">
  <h3>{{ section.name }}</h3>
  <ol>
    <li *ngFor="let gift of section.gifts">
      {{ gift.name }}
      <button
        *ngIf="!gift.claimer"
        type="button"
        (click)="claimGift(gift)"
      >I will get this</button>
      <em *ngIf="gift.claimer">
        This gift has been claimed
        <span *ngIf="gift | isClaimedByCurrentUser">by you</span>
      </em>
    </li>
  </ol>
</section>
