<h2>Please let us know a bit about you</h2>

<form [formGroup]="form">
  <div>
    <label>Your name</label>
    <input type="text" formControlName="name" required>
    <field-errors [for]="'name'" [errors]="errorsByField"></field-errors>
  </div>
  <div>
    <label>Your email</label>
    <input type="email" formControlName="email" required>
    <field-errors [for]="'email'" [errors]="errorsByField"></field-errors>
  </div>

  <button (click)="identify()" [disabled]="!canSaveForm">Let's go!</button>
</form>